adapnow.com {
  tls {
    protocols tls1.2 tls1.3
  }

  reverse_proxy /_next/* adapnow-frontend:3000
  reverse_proxy /api/* adapnow-frontend:3000
  reverse_proxy /uploads/* adapnow-frontend:3000
  reverse_proxy /* adapnow-frontend:3000

  handle_path /uploads/* {
    root * /app/public
    file_server
  }

  handle /healthz {
    respond "OK" 200
  }

  handle_path /admin* {
    basic_auth {
      adminUser $2a$14$gtqQROUYreaCn28YthHWtOV/igLdEncUyru5pW4U/ZG455fj0dpCu
    }
    reverse_proxy adapnow-frontend:3000
  }

  # Remove unnecessary redirects
  # Redirect to HTTPS only once
  @http {
    protocol http
  }
  redir @http https://adapnow.com{uri} permanent

  header {
    X-Frame-Options "DENY"
    X-Content-Type-Options "nosniff"
    Referrer-Policy "strict-origin-when-cross-origin"
    Permissions-Policy "geolocation=(), microphone=(), camera=()"
    Content-Security-Policy "default-src 'self' 'unsafe-inline' https: data: blob:;"
    Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
    Cache-Control "no-store"
  }

  log {
    output stdout
    format console
  }
}

www.adapnow.com {
  redir https://adapnow.com{uri} permanent
}
